/* Brian Oh Stylesheet */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}


h1 {
    font-family: 'open sans',arial,sans-serif;
    font-size: 75px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

body {
    background:#300A24;
    font-family: 'open sans',arial,sans-serif;
    font-style: normal;
    font-weight:100;
    padding-top: 40px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}



input[type=text], textarea {
    padding:5px; 

    -webkit-border-radius: 5px;
    border-radius: 5px;
}



.col-lg-12 {
    padding-top: 24%;
    color:white;
}

.date {
    font-style:bold;
    font-family:  "Arial Black", Gadget, sans-serif;
}

.points {
    clear:left;
    padding-bottom: 10px;
}

.slash {
    font-size: 16px;
    font-style:bold;
    font-family: 'open sans',arial,sans-serif;
    color:white;
}


#resume {
    font-size: 16px;
    font-style:bold;
    font-family: 'open sans',arial,sans-serif;
    color:white;
    padding-left: 80px;
 }

#unList {
    font-size: 0.8vw;
    font-family: 'open sans',arial,sans-serif;
    color:#A8A8A8;
    list-style:square !important;
    padding-left: 100px;
}

.projectImg {
    padding-right:90px;
}

.projectImg:hover {
  opacity:0.5;
  filter: alpha(opacity=50);
}

.modal-open[style="padding-right: 17px;"] .navbar-fixed-top,
.modal-open[style="padding-right: 17px;"] .navbar-fixed-bottom {
    padding-right: 17px;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.page-header {
    position:relative;
    margin: 20px 0 20px;
    border-bottom: none;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  padding-bottom:0 !important;
}

.modal-sm {
    width: 450px !important;
}

#userBox {
    padding-left: 30px;
}

#mailBox {
    padding-left: 28px;
}

#messageBox {
    padding-left: 65px;
}

.textBox {
    width: 320px;
    background-color: #EDEDED;
    margin-bottom: 10px;
    border-radius: 5px;
}

.portfolio-item {
    margin-bottom: 25px;
}

#stretchIndex{
  position: absolute;
  width: 100%;
}

#stretch {
 position: absolute;
 width: 100%;
}

#aboutFoot {
  padding-bottom: 2.5%;
}

#aboutSub{
    color: grey !important;
    font-style: italic;
    font-size: 55px;
}

#aboutHeader {
    padding-bottom:0.6vw;
    font-family: "Courier New", Courier, monospace;
}

#bodystuff {
    margin:0;
}

a, a:focus, a:active 
{
    outline: none !important; 
    box-shadow: none !important;
}

.btn.btn-social-icon {
  border-radius:16px;
}

.navbar {
  margin-bottom: 0;
   background:rgba(0,0,0,0.5);   /* for latest browsers */
}

.navbar-left > li > a {
    font-size: 18px;
    padding-top:20px;
}

.navbar-right > li {
  margin-top: 11px;
  margin-right: 24px;
}

.navbar-right > li > a{
  border:none;
}


ul.nav a {
    font-family: 'open sans',arial,sans-serif;
    color:white !important;
}

.btn-facebook:hover{
      -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-decoration: none !important;
  background-color:#2d4373 !important;
}

.btn-github:hover{
        -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-decoration: none !important;
 background-color:#2b2b2b!important;
}

.btn-linkedin:hover{
        -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-decoration: none !important;
  background-color:#005983 !important;
}

.btn-twitter:hover{
        -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-decoration: none !important;
  background-color:#2795e9 !important;
 }

.btn-tumblr:hover{
        -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-decoration: none !important;
  background-color:#1c2d3f !important;
}

.navbar-left > li > a:hover { 
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-decoration: none !important;
}

#resume:hover, .slash:hover {
    color: #A8A8A8;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-decoration: none !important;
}

.subButton {
    background:transparent;
    border:none;

}

.ascii {
  overflow: hidden;
  bottom:0;
  padding-bottom: 0;
  z-index:100;
  position:absolute;
  left: 40%;
  border:none;
  color:white;
  background: #300A24;
  width: 100%;
  max-width: 800px;
  height: auto;
  display:block;
}

.fa-user{
    padding-right:10px;
}

.fa-envelope{
    padding-right:6px;
}

a.leftLinks:hover{
    color: #A8A8A8 !important;
}



.modal-header {
    height:55px !important;
  margin:0;
  padding-bottom:none !important; 
 border-bottom: none !important;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: none !important;
}

/* Project Image Hover */


ul.img-list {
  list-style-type: none;
  margin: 0;
  padding-left: 100px;
}

ul.img-list li {
  display: inline-block;
  margin-right:90px;
  position: relative;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}


span.text-content {
  font-size: 28px;
  border-radius:24px;
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 256px;
  left: 0;
  position: absolute;
  top: 0;
  width: 256px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

@media only screen and (max-width:632px) {
	.fa-send{
    	text-align:center;
	}
    .ascii {
    overflow: hidden;
    bottom:0;
    padding-bottom: 0;
    z-index:100;
    position:absolute;
    left: 13%;
    border:none;
    color:white;
    background: #300A24;
    max-width: 100%;
    width: 265px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

    #stretchIndex{
    position: absolute;
    width: 100%;
    height: 160px;
  }

  #stretch {
   position: absolute;
   height: 160px;
   width: 100%;
  }

    .col-lg-12 {
      padding-left:0;
      padding-top: 38%;
      color:white;
  }

    #unList {
      font-size: 3vw;
      font-family: 'open sans',arial,sans-serif;
      color:#A8A8A8;
      list-style:square !important;
      padding-left: 40px;
      padding-right: 20px;
  }

    #aboutHeader {
      padding-top:10px;
      padding-bottom:none;
      font-size: 16px;
      font-family: "Courier New", Courier, monospace;
  }

  #aboutSub{
    color: grey !important;
    font-style: italic;
    font-size: 14px;
}

    #aboutFoot {
      padding-left:0;
    padding-bottom: none;
    margin-bottom:8px;
  }


  .slash {
    font-size: 14px;
    font-style:bold;
    font-family: 'open sans',arial,sans-serif;
    color:white;
  }


  #resume {
    font-size: 14px;
    font-style:bold;
    font-family: 'open sans',arial,sans-serif;
    color:white;
    padding-left: 40px;
  }

  ul.img-list {
    display:block;
    list-style-type: none;
    margin: 0;
    padding-left: 12px;
  }

  ul.img-list li {
    display: inline-block;
    margin-right:0px;
    position: relative;
    padding-bottom: 20px;
  }

  .navbar-right > li {
    float: left;
    margin-top: 11px;
    margin-right: 10px;
    margin-left: 18px;
  }

  .navbar-left > li > a {
    margin-left:0;
    font-size: 15px;
    padding-top:20px;
    float:left;
  }


  .projpics {
    width: 70%;
  }

  .modal-sm {
    width: 310px !important;
  }

  #userBox {
    padding-left: 18px;
  }

  #mailBox {
      padding-left: 16px;
  }

  #messageBox {
      padding-left: 54px;
  }

  .textBox {
      width: 210px;
      background-color: #EDEDED;
      margin-bottom: 10px;
      border-radius: 5px;
  }

  footer {
    display:block;
    margin: auto;
  }
}
